/* ---------- PRODUCT-VIEW ---------- */

.__product-view__ {
    max-width: 1200px;
    margin: 3rem auto;
}

.__product-view__container {
    width: 94%;
    margin: 0 auto;
}

/* ----- product-top ----- */

.product-top {
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

/* --- product-images --- */

.slick-slide:focus, .slick-slide:active, .slick-arrow:focus {
    outline: none;
}

.product-images {
    display: flex;
    width: 48%;
}

.product-image {
    cursor: pointer;
}

.product-images img {
    max-height: 910px;
    max-width: 741px;
    height: auto;
    width: 100%;
    display: block;
}

.product-images .slick-list {
    width: 100%;
    overflow: hidden;
    margin: 0 -45px;

    position: relative;
    z-index: 2;
}

.product-images .slick-track {
    width: 100%;
    display: flex;
}

.product-images .slick-arrow {
    display: block;
    width: 45px;
    height: 55px;
    background-image: url("../img/arrowside.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;

    background-color: rgba(256, 256, 256, 1);

    box-shadow: inset -10px 0 10px white;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    transition: all .2s ease;
    position: relative;
    top: 42%;
    z-index: 10;
    
    cursor: pointer;
    font-size: 0;
}

.product-images .slick-arrow.slick-prev {
    transform: rotate(180deg);
    right: 1px;
}

.product-images .slick-arrow.slick-next {
    left: 1px;
}

.product-images .slick-arrow:hover {
    background-color: rgba(256, 256, 256, .6);
}

.product-images .slick-arrow:active {
    background-color: rgba(256, 256, 256, .3);
}

/* --- */

.ave-title {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;

    margin-bottom: 1rem;
}

/* --- ave-review --- */

.product-details {
    width: 48%;
}

.ave-review {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: .7rem;
    font-weight: bold;
    line-height: .8rem;
    color: #333333;
    display: flex;

    margin-bottom: 1.3rem;
}

/* rating */

.rating {
    display: flex;
    align-items: center;
}

.rating-area {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
	overflow: hidden;
}
.rating-area:not(:checked) > input {
	display: none;
}

.rating-area:not(:checked) > label {
	width: 1.3rem;
    height: 1.2rem;
	padding: 0;
	cursor: pointer;
	font-size: 1.3rem;
	line-height: .9rem;
	color: #dfdfde;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: #dfcf99;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: #dfcf99;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: #dfcf99;
}
.rate-area > label:active {
	position: relative;
}

/* ----- */

.rating-review {
    padding-left: .5rem;
}

.rating-amount {
    display: inline-block;
}

.link-review {
    display: flex;
    align-items: center;
    padding-left: .8rem;
    border-left: 2px solid #989898;
}

.link-review:hover {
    color: #00c8c8;
}

.socials {
    display: flex;
    padding-left: .8rem;
    border-left: 2px solid #989898;
}

.share-fb, .share-twitter,
.share-vk, .share-inst, .share-email {
    display: block;
    color: white;
    font-size: 0;
    cursor: pointer;
    width: 1.6rem;
    height: .8rem;
}

.share-fb {
    background: url("../img/FBdarken.png") no-repeat center;
    background-size: .8rem .8rem;
}

.share-inst {
    background: url("../img/instagramDarken.png") no-repeat center;
    background-size: .8rem .8rem;
}

.share-vk {
    background: url("../img/VKdarken.png") no-repeat center;
    background-size: .8rem .8rem;
}

.share-twitter {
    background: url("../img/TWITTERdarken.png") no-repeat center;
    background-size: .8rem .8rem;
}

.share-email {
    background: url("../img/email.png") no-repeat center;
    background-size: .8rem .7rem;
}

/* --- ave-price --- */

.ave-price {
    font-size: 1.3rem;
    color: #9a9a9a;

    display: flex;
    gap: .9rem;

    margin-bottom: 2rem;
}

.price::before {
    content: "£";
    font-size: .9rem;

    position: relative;
    bottom: .4rem;

    padding-right: .2rem;
}

.strike {
    text-decoration: line-through;
}

/* --- ave-availability, ave-product-code, ave-tags --- */

.ave-availability, .ave-product-code, .ave-tags {
    color: #333333;
    display: flex;
    margin-bottom: .7rem;
}

.ave-tags {
    margin-bottom: 2rem;
}

.ave-availability div:first-child,
.ave-product-code div:first-child,
.ave-tags div:first-child {
    font-weight: bold;
    text-transform: uppercase;
}

.ave-tag {
    color: #00c8c8;
}

/* --- ave-description --- */

.ave-description {
    color: #8e8c8c;
    font-size: .8rem;
    line-height: 1.3rem;

    margin-bottom: .8rem;
}

/* --- ave-composition --- */

.ave-composition {
    color: #8e8c8c;
    font-size: .8rem;
    padding-left: .9rem;

    margin-bottom: 2rem;
}

.ave-composition li {
    list-style: disc;
    margin-bottom: .4rem;
}

/* --- ave-sample --- */

.ave-sample {
    display: flex;
    flex-direction: column;
}

.sample-details {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 1rem;
}

.sample-title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: #333333;

    margin-bottom: 1rem;
}

.choices {
    color: #333333;
    width: 170px;
    background-color: white;
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-color: #333333;
}

.choices__inner {
    border: 1px solid #adadad;
    border-radius: 0;
    background-color: #ffffff;
}

.choices__item.choices__placeholder.choices__item--selectable {
    color: #989898;
}

.choices__list--dropdown {
    border: 1px solid #e7e7e7;
}

.is-open .choices__list--dropdown {
    border-color: #333333;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after {
    display: none;
}

.choices__list--dropdown .choices__item {
    padding: .8rem .8rem;
}

@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable {
        padding: .8rem .8rem;
    }
}

.choices__list--single {
    padding: .4rem 2rem .4rem .5rem;
}

.choices[data-type*=select-one] .choices__inner {
    padding: .4rem;
}

.choices[data-type*='select-one']:after {
    content: '';
    height: 14px;
    width: 14px;
    border: none;
    background-image: url("../img/arrowdown.png");
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-position: center;
    position: absolute;
   
    top: 50%;
    margin-top: -6px;
    pointer-events: none;
}

.choices[data-type*='select-one'].is-open:after {
    border:none;
    transform: scale(-1);
}

/* --- qty-nubmer --- */

.qty-number {
    height: 44.4px;
    width: 70px;
    border: 1px solid #adadad;
    color: #333333;
}

input[type=number].qty-number {
    padding-left: 20%;
}

.input-buttons {
    position: relative;
    z-index: 1;
    bottom: 44.4px;
    left: 35px;
}

.button-arrow-bottom {
    height: 22.2px;
    width: 35px;

    border-left: 1px solid #adadad;
    border-top: 1px solid #adadad;

    background-image: url("../img/arrowdown.png");
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-position: center;
}

.button-arrow-top {
    height: 22.2px;
    width: 35px;

    border-left: 1px solid #adadad;

    background-image: url("../img/arrowtop.png");
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-position: center;
}

input[type=number]#qty-number::-webkit-inner-spin-button,
input[type=number]#qty-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;

    height: 45px;
    width: 35px;
}

input[type=number]#qty-number {
    -moz-appearance: none;
    background-color: transparent;

    position: relative;
    z-index: 3;
}

/* --- ave-buttons --- */

.ave-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.btn-card, .btn-lookbook {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #454647;
    text-transform: uppercase;
    text-align: center;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 4px;
    padding: .8rem 1.3rem;
    cursor: pointer;
    outline: 2px solid #737373;
    transition: all .2s ease;
}

.btn-card:hover, .btn-lookbook:hover {
    color: #ffffff;
    outline: 2px solid #333333;
    background-color: #333333;
}

.btn-card:active, .btn-lookbook:active {
    background-color: #242424;
    outline-color: #242424;
}

.btn-lookbook svg,
.btn-card svg {
    fill: #333333;
}

.btn-lookbook:hover svg,
.btn-card:hover svg {
    fill: #ffffff;
}

/* --- ave-compare --- */

button.ave-compare:focus {
    outline: none;
}

.ave-compare {
    max-width: 230px;
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #727272;
    border-radius: 50%;
    transition: all .3s ease;
}

.circle-inside {
    width: 15px;
    height: 15px;
    margin: 7.5px auto;
    background-color: #ffffff;
    border-radius: 50%;
    transition: all .3s ease;
}

.compare-text {
    text-transform: uppercase;
    color: #333333;
    font-size: 1rem;
    letter-spacing: 2px;
    margin: auto 0;
}

.circle:hover {
    background-color: #00c8c8;
}

/* --- product-bottom --- */

.product-bottom {
    width: 100%;
    margin: 2rem auto;
}

.product-tabs {
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
}

.product-tab {
    margin: auto 0;
    padding: 1rem 2rem;
    cursor: pointer;
    color: #333333;
    font-size: .9rem;
    text-transform: uppercase;
    white-space: nowrap;
    transition: all .2s ease;
}

.product-tab:hover {
    color: #ffffff;
    background-color: #333333;
}

.tabs-content {
    width: 100%;
    color: #8e8c8c;
    padding: 1rem;
}

.tab-content {
    display: none;
}

.tab-content-title {
    font-size: .8rem;
    text-transform: uppercase;

    margin-bottom: .8rem;
}

.tab-content-paragraph {
    font-size: .7rem;

    margin-bottom: .7rem;
}

.product-tab-active {
    color: #ffffff;
    background-color: #333333;
}

.tab-content-active {
    display: block;
}